body {
  font-family: 'Pretendard', sans-serif;
  word-break: keep-all;
}

h1, h2, h3, h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

blockquote {
  background-color: rgb(243 244 253);
  padding: 1rem;
  border-radius: 0.5rem;
}

p {
  text-indent: 0.5rem;
  margin-bottom: 1rem;
}

input.input {
  transition: border-color 0.125s ease-in;
}

.dropdown-list {
  position: absolute;
  z-index: 50;
  float: left;
  margin: 0px;
  margin-top: 0.25rem;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  list-style-type: none;
  border-radius: 0.5rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  background-clip: padding-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.dropdown-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.dropdown-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}