body {
  font-family: 'Pretendard', sans-serif !important;
}

h1 {
  --typography-spacing-vertical: 0.5rem !important;
}

blockquote p:last-child {
  --typography-spacing-vertical: 0;
}

ul {
  padding-inline-start: 1rem;
  list-style-type: disc;
}