body {
  font-family: 'Pretendard', sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

blockquote {
  background-color: rgb(243 244 253);
  padding: 1rem;
  border-radius: 0.5rem;
}

p {
  text-indent: 0.5rem;
  margin-bottom: 1rem;
}