body {
  font-family: 'Pretendard', sans-serif;
  word-break: keep-all;
}

h1, h2, h3, h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.bg-quote {
  background-color: rgb(238 239 248);
}

.bg-quote:hover {
  background-color: rgb(228 229 238);
}
.bg-quote:focus {
  background-color: rgb(228 229 238);
}

blockquote {
  background-color: rgb(238 239 248);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

:not(pre)>code {
  background: rgb(233 234 243);
  border-radius: 0.25em;
  color: #1971c2;
  padding: 0.1em 0.1em;
  font-size: 0.875rem;
}

div.content ul {
  list-style: disc;
  
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1rem;
}

pre {
  @apply rounded-lg shadow-lg p-4
}

p {
  text-indent: 0.5rem;
  margin-bottom: 1rem;
}

p:last-child {
  margin-bottom: 0rem;
}

[data-part="item"][data-focus] {
  --tw-bg-opacity: .2;
  background-color: hsl(var(--bc)/var(--tw-bg-opacity));
  --tw-border-opacity: 0;
  border-color: hsl(var(--nf,var(--n))/var(--tw-border-opacity));
}

[data-part="option-item"][data-focus] {
  --tw-bg-opacity: .2;
  background-color: hsl(var(--bc)/var(--tw-bg-opacity));
  --tw-border-opacity: 0;
  border-color: hsl(var(--nf,var(--n))/var(--tw-border-opacity));
}

label {
  @apply text-lg font-semibold
}

input.input {
  transition: border-color 0.125s ease-in;
}

input.input:not(:placeholder-shown):not(:focus):invalid {
  @apply input-error
}

.dropdown-list {
  @apply min-w-max absolute bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 m-0 bg-clip-padding border-none;
}
.dropdown-item {
  @apply text-sm font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100;
}